.blog-layout-wrapper
  .modal-wrapper
    ul
      li.item(ng-repeat='item in items', ng-class='{"selected" : selected === item.title}', ng-click='selectingFunc(item.title)')
        .item-content(ng-style='{"background-image" : item.background_image}')
          h1 {{item.title}}