.center-section.biweekly-section
  .center-content
    h1 Biweekly Blog
    .biweekly-item
      h2 New Skills Learned
      hr
      ul
        li.item
          p Learned to Code
        li.item
          p Learned to spell Code
        li.item
          p Another p Tag
    .biweekly-item
      h2 Skills Improved
      hr
      ul
        li.item
          p Skills one Locked Down!
        li.item
          p Reached Combo 69!
        li.item
          p Still proud of my last accomplishments
    .biweekly-item
      h2 Recent Motivations
      hr
      ul
        li.item
          p This guy said this "...
        li.item
          p Cool Story Bro!
        li.item
          p ROBOTS!
    .biweekly-item
      h2 Biweekly Quote
      hr
      ul.list-style-none
        li.item
          p Input Quote
    .biweekly-item
      h2 Thoughts in the past two weeks
      hr
      ul.list-style-none
        li.item
          p Selvage iPhone lyft, yr glossier polaroid hella DIY. Migas literally bespoke intelligentsia wolf. Twee sriracha shabby chic iceland. Art party +1 try-hard, green juice whatever meggings small batch 8-bit. Dreamcatcher pork belly kogi sustainable glossier, try-hard ugh lo-fi raw denim. Pabst gochujang man bun, gastropub freegan bespoke distillery banh mi put a bird on it yr. Fam pour-over YOLO, health goth live-edge pok pok keffiyeh enamel pin marfa mustache normcore pickled.
