h1 Transitions and Transforms
ul.container-fluid.one
  li.item.col-sm-4
    .item-content
      .bg-img
      .text-wrapper
        p Test Will Go Here
      button(ng-class='{"active" : active1}', ng-click='active1 = !active1')
        span Button
  li.item.col-sm-4
    .item-content
      .bg-img
      .text-wrapper
        p Test Will Go Here
      button
        span Button
  li.item.col-sm-4
    .item-content
      .bg-img
      .text-wrapper
        p Test Will Go Here
      button
        span Button
ul.container-fluid.two
  li.item.col-sm-4
    .item-content
      .img-wrapper
        .bg-img
      .text-wrapper
        p Test Will Go Here
      button
        span Button
  li.item.col-sm-4
    .item-content
      .bg-img
      .text-wrapper
        p Test Will Go Here
      button
        span Button
  li.item.col-sm-4
    .item-content
      .img-wrapper
        .bg-img
        .bg-img-2
      .text-wrapper
        p Test Will Go Here
      button
        span Button
ul.container-fluid
  li.item.col-sm-4
    .item-content
      .bg-img
      .text-wrapper
        p Test Will Go Here
      button
        span Button
  li.item.col-sm-4
    .item-content
      .bg-img
      .text-wrapper
        p Test Will Go Here
      button
        span Button
