//========== Variables ==========//
$var-global-top-padding       : 50px;



//========== START Global START ==========//
.global-wrapper {
  min-height: 100vh;

  .global-container {
    background-color: $Pizazz;
    padding-top: $var-global-top-padding;

    .global-content {
      min-height: calc(100vh - #{$var-global-top-padding});
      background-color: $white;
      width: 75%;
      max-width: 800px;
      display: table;
      margin: auto;
    }
  }
}
//========== END Global END ==========//

//========== START Pages START ==========//
.pages-wrapper {

  .pages-container {

    .pages-content {

    }
  }
}

//========== END Pages END ==========//


#myCanvas {
  height: 100vh;
  width: 100vw;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  
  &.show-canvas {
    opacity: 1;
    pointer-events: initial;
  }
}