//======================================//
//========== COLORS VARIABLES ==========//
//======================================//
$black                            : #000000;
$white                            : #ffffff;
$Malachite                        : #00CC3D;
$Science-Blue                     : #095ECE;

$Pizazz                           : #FF9600;
$Blaze-Orange                     : #FB6107;
$Golden-Dream                     : #F3DE2C;
$Lima                             : #7CB518;
$Olive                            : #5C8001;
$real-dark-gray                   : rgba(0,0,0,0.75);

//======================================//
//========== COLORS FUNCTIONS ==========//
//======================================//
