.blog-layout-wrapper {
  padding: 0 20px 0;
  .modal-wrapper {

    ul {
      display: flex;
      flex-wrap: wrap;
      background-color: aliceblue;
      border-radius: 5px;
      padding: 20px;

      .item {
        padding: 10px;
        flex: 1;
        transition: flex 1s ease-in-out;

        &:hover {
          flex-grow: 2;
        }

        &.selected {
          flex: 0 0 calc(100% - 20px);
          order: -1;

          .item-content {
            height: 100px;
            height: 100px;
          }
        }
        
        .item-content {
          display: flex;
          height: 30px;
          border-radius: 5px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          transition: height 1s ease-in-out 1s;

          &:hover {
            cursor: pointer;

            h1 {
              font-weight: bold;
            }
          }

          h1 {
            font-size: 12px;
            margin: auto;
            font-weight: 100;
            white-space: nowrap;
            padding: 4px;
            border-radius: 5px;
            background-color: white;            
          }
        }
      }
    }
  }
}